<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ::-webkit-scrollbar{
            width: 0px;
        }

        html, body {
            /* background-color: #0f172a; */
            color: black;
            font-family: SF Pro Display;
        }

        a {
            color: #1c9bf7;
            text-decoration: none;
        }

        a.clicked {
            color: #1c9bf7;
            text-decoration: none;
        }

        .container {
                width: 100vw;
                height: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 8px;
            }

            #how-to-use {
                width: 90vw;
                height: 10vh;
                padding-top: 20px;
            }

            #title-heading {
                width: max-content;
                display: flex;
                align-items: center;
                position: relative;
                font-size: 4vw;
            }

            #version-show {
                position: absolute;
                top: 5%;
                right: -12%;
                font-size: 2.5vw;
                padding-left: 3px;
                padding-right: 3px;
                border-radius: 30px;
                background-color: #1c9bf7;
            }

            #clone-show {
                position: absolute;
                top: 43%;
                right: -16%;
            }

            #intro {
                width: 90vw;
                height: max-content;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 8px;
                overflow: hidden;
            }

            #intro p {
                line-height: 1.4;
            }

            .span-id {
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 5px;
                background-color: #ededed;
            }

            #Getting-Started {
                margin-top: 20px;
                width: 90vw;
                height: max-content;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 8px;
                overflow: hidden;
            }

            #Getting-Started-desc {
                padding-left: 50px;
            }

            #display-method {
                margin-top: 20px;
                width: 90vw;
                height: max-content;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                overflow: hidden;
            }

            .box {
                width: 100%;
                height: 6vh;
                display: flex;
                align-items: center;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                gap: 10px;
            }

            .method-box {
                width: max-content;
                height: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 5px;
                padding-left: 13px;
                padding-right: 13px;
                border-radius: 7px;
                color: white;
            }

            .path-box {
                width: max-content;
                height: max-content;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .path-desc {
                overflow: hidden;
                position: relative;
            }

            .lock-icon {
                position: absolute;
                right: 6%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                transition: 0.5s ease-in-out;
            }

            .copy-icon-box {
                position: absolute;
                right: 6%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                opacity: 1;
                transition: 1s ease;
                cursor: pointer;
            }


            #some-example {
                margin-top: 20px;
                width: 90vw;
                height: max-content;
                overflow: hidden;
            }

            .main-box {
                width: 100%;
                height: max-content;
            }

            .example-heading {
                width: max-content;
                margin-top: 10px;
            }

            .example-desc {
                width: max-content;
            }

            .example-desc ol {
                padding-left: 18px
            }

            #clone-project {
                width: 90vw;
                height: max-content;
                margin-top: 20px;
                overflow: hidden;
            }

            #gitclone {
                margin-top: 15px;
            }

            #git-clone-box {
                overflow-x: scroll; 
                height: max-content;
            }

            #config {
                width: 90vw;
                height: max-content;
                margin-top: 20px;
            }

            #config-para p {
                margin: 8px;
            }

            #Getting-Started-desc-1 {
                margin-top: 15px;
                padding-left: 50px;
            }

            #footer {
                width: 90vw;
                height: max-content;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            #icon-link-box {
                display: flex;
                gap: 10px;
            }

            .link-class {
                margin-top: 5px;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 7px;
                border: 1.5px solid #61affe;
            }

        @media only screen and (max-width: 426px) {
            .path-desc {
                overflow: hidden;
                display: none;
                position: relative;
            }

            .lock-icon {
                position: absolute;
                right: 12%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                transition: 0.5s ease-in-out;
            }

            .copy-icon-box {
                position: absolute;
                right: 6%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                opacity: 1;
                transition: 1s ease;
                cursor: pointer;
            }
        }

        @media only screen and (min-width: 426px) and (max-width: 769px) {
            .path-desc {
                position: relative;
                color: #717576;
            }

            #how-to-use {
                width: 90vw;
                height: 10vh;
                padding-top: 20px;
            }

            #title-heading {
                width: max-content;
                display: flex;
                align-items: center;
                position: relative;
                font-size: 2.5vw;
            }

            #version-show {
                position: absolute;
                top: 5%;
                right: -12%;
                font-size: 1.5vw;
                padding-left: 3px;
                padding-right: 3px;
                border-radius: 30px;
                background-color: #1c9bf7;
            }

            .lock-icon {
                position: absolute;
                right: 9%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                transition: 0.5s ease-in-out;
            }

            .copy-icon-box {
                position: absolute;
                right: 6%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                opacity: 1;
                transition: 1s ease;
                cursor: pointer;
            }

            #clone-show {
                position: absolute;
                top: 43%;
                right: -16%;
            }
        }

        @media only screen and (min-width: 769px) and (max-width: 1025px) {
            .path-desc {
                position: relative;
                color: #717576;
            }

            #how-to-use {
                width: 90vw;
                height: 10vh;
                padding-top: 20px;
            }

            #title-heading {
                width: max-content;
                display: flex;
                align-items: center;
                position: relative;
                font-size: 2vw;
            }

            #version-show {
                position: absolute;
                top: 5%;
                right: -12%;
                font-size: 1.2vw;
                padding-left: 3px;
                padding-right: 3px;
                border-radius: 30px;
                background-color: #1c9bf7;
            }

            .lock-icon {
                position: absolute;
                right: 9%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                transition: 0.5s ease-in-out;
            }

            .copy-icon-box {
                position: absolute;
                right: 6%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                opacity: 1;
                transition: 1s ease;
                cursor: pointer;
            }

            #clone-show {
                position: absolute;
                top: 43%;
                right: -16%;
            }
        }

        @media only screen and (min-width: 1025px) and (max-width: 1441px) {
            .path-desc {
                position: relative;
                color: #717576;
            }

            #how-to-use {
                width: 90vw;
                height: 10vh;
                padding-top: 20px;
            }

            #title-heading {
                width: max-content;
                display: flex;
                align-items: center;
                position: relative;
                font-size: 1.7vw;
            }

            #version-show {
                position: absolute;
                top: 5%;
                right: -12%;
                font-size: 1vw;
                padding-left: 3px;
                padding-right: 3px;
                border-radius: 30px;
                background-color: #1c9bf7;
            }

            .lock-icon {
                position: absolute;
                right: 8%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                transition: 0.5s ease-in-out;
            }

            .copy-icon-box {
                position: absolute;
                right: 6%;
                width: max-content;
                height: 4.5vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                opacity: 1;
                transition: 1s ease;
                cursor: pointer;
            }

            #clone-show {
                position: absolute;
                top: 43%;
                right: -16%;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="how-to-use">
            <div id="title-heading">
                <h1>TweeterBackendApi</h1>
                <div id="version-show"><p>1.1.0</p></div>
                <div id="clone-show"><p>Clone</p></div>
            </div>
        </div>
        <div id="intro">
            <h3>Hello👋!</h3>
            <p>This project is a web api that mimics the core features of Twitter, such as <span class="span-id">posting tweets</span>, <span class="span-id">commenting on posts</span>, and <span class="span-id">uploading images</span>. Users can also create new accounts and <span class="span-id">signIn</span> or <span class="span-id">signUp</span> using <span class="span-id">JsonWebToken</span> for secure authentication.</p>
            <p>To ensure data integrity and enhance API security, <span class="span-id">Zod</span> input validation is implemented to verify that incoming data adheres to expected schema requirements. Additionally, <span class="span-id">Jest</span> testing is integrated for both unit and integration testing, allowing for early identification of any issues within the API components.</p>
            <p>The project is developed by <span class="span-id"><a href="https://github.com/kishanvish1613/">@kishan.dev</a></span> using Node.js, Express, S3, and other technologies. It is an API that can be integrated with any front-end framework or library.</p>
            
        </div>
        <div id="Getting-Started">
            <div id="Getting-Started-heading">
                <h2>Getting started</h2>
            </div>
            <div id="Getting-Started-desc">
                <ul>
                    <li>Use Postman</li>
                    <li>Use Axios</li>
                    <li>Use Fetch</li>
                </ul>
            </div>
        </div>
        <div id="display-method">
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #49cc90;">
                <div class="method-box" style=" background-color: #49cc90;"><p>GET</p></div>
                <div class="path-box"><p>/api/v1/tweets</p></div>
                <div class="path-desc"><p>fetch all tweet</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/tweets/"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #fca130;">
                <div class="method-box" style=" background-color: #fca130;"><p>GET</p></div>
                <div class="path-box"><p>/api/v1/tweets/:id</p></div>
                <div class="path-desc"><p>fetch a tweet by id</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/tweets/"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #61affe;">
                <div class="method-box" style=" background-color: #61affe;"><p>POST</p></div>
                <div class="path-box"><p>/api/v1/tweets</p></div>
                <div class="path-desc"><p>create a tweet</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/tweets"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #EEA5A6;">
                <div class="method-box" style=" background-color: #EEA5A6;"><p>POST</p></div>
                <div class="path-box"><p>/api/v1/signUp</p></div>
                <div class="path-desc"><p>login by email, password and token</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/signUp"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #8ba171;">
                <div class="method-box" style=" background-color: #8ba171;"><p>POST</p></div>
                <div class="path-box"><p>/api/v1/signIn</p></div>
                <div class="path-desc"><p>create a account</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/signIn"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #7FC7D9;">
                <div class="method-box" style=" background-color: #7FC7D9;"><p>POST</p></div>
                <div class="path-box"><p>/api/v1/likes/toggle</p></div>
                <div class="path-desc"><p>like on tweet/comment</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/likes/toggle"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #FFE382;">
                <div class="method-box" style=" background-color: #FFE382;"><p>POST</p></div>
                <div class="path-box"><p>/api/v1/comments</p></div>
                <div class="path-desc"><p>post a comment on tweet/comment</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/comment"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
            <div class="box" style=" background-color: #fbf1e6; border: 2px solid #C6A969;">
                <div class="method-box" style=" background-color: #C6A969;"><p>GET</p></div>
                <div class="path-box"><p>/api/v1/comments/:id</p></div>
                <div class="path-desc"><p>fetch a comment by id</p></div>
                <div class="lock-icon"><i class="ri-git-repository-private-line"></i></div>
                <div class="copy-icon-box"><a href="https://twitterbackendproject.onrender.com/api/v1/comments/"><i class="ri-arrow-right-up-line"></i></a></div>
            </div>
        </div>
        <div id="some-example">
            <div><h2>How to pass values</h2></div>
            <div class="main-box">
                <div class="example-heading"><h3>signIn <i class="ri-edit-line" style="color: grey;"></i></h3></div>
                <div class="example-desc">
                    <p>takes two parameters</p>
                        <ol>
                            <li>email</li>
                            <li>password</li>
                            <li>return a JWT token</li>
                        </ol>
                </div>
                <div class="example-heading"><h3>signUp <i class="ri-login-circle-line" style="color: orange;"></i></h3></div>
                <div class="example-desc">
                    <p>takes three parameters</p>
                        <ol>
                            <li>email</li>
                            <li>password</li>
                            <li>JWT token 'pass it as a bearer token'</li>
                        </ol>
                </div>
                <div class="example-heading"><h3>Post a Tweet <i class="ri-twitch-line" style="color: rgb(150, 150, 239);"></i></h3></div>
                <div class="example-desc">
                    <p>takes three parameters</p>
                        <ol>
                            <li>email</li>
                            <li>password</li>
                            <li>JWT token 'pass it as a bearer token'</li>
                        </ol>
                </div>
                <div class="example-heading"><h3>Like on tweet/comment <i class="ri-heart-3-line" style="color: red;"></i></h3></div>
                <div class="example-desc">
                    <p>takes three parameters</p>
                        <ol>
                            <li>modelId - 'id of tweet/comment'</li>
                            <li>modelType - 'tweet/comment'</li>
                            <li>userId - 'user id'</li>
                        </ol>
                </div>
                <div class="example-heading"><h3></h3></div>
                <div class="example-desc">
                    <p>For more info.. <a href="https://github.com/kishanvish1613/TwitterBackendProject">check-out</a></p>
                </div>
            </div>
        </div>
        <div id="clone-project">
            <div id="clone-heading">
                <h2>Setup this project</h2>
                <p>On your local machine</p>
            </div>
            <div id="gitclone">
                <div>
                    <div>
                        <i class="ri-corner-down-right-line"></i>Clone repository:
                    </div>
                    <div id="git-clone-box">
                        <span class="span-id">git clone`https://github.com/kishanvish1613/TwitterBackendProject.git`</span>
                    </div>
                </div>
                <p><i class="ri-corner-down-right-line"></i>Navigate to project directory: <span class="span-id">cd twitter-backend-clone</span></p>
                <p><i class="ri-corner-down-right-line"></i>Install dependencies: <span class="span-id">npm install</span></p>
            </div>
            <div id="config">
                <h2>Configuration Steps</h2>
                <div id="config-para">
                    <p><i class="ri-corner-down-right-line"></i>make a file on root dir <span class="span-id">.env</span></p>
                    <p><i class="ri-corner-down-right-line"></i>Update these values of <span class="span-id">environment variables</span> in <span class="span-id">.env</span> file</p>
                </div>
                <div id="Getting-Started-desc-1">
                    <ul>
                        <li>AWS_REGION</li>
                        <li>AWS_SECRET_ACCESS_KEY</li>
                        <li>BUCKET_NAME</li>
                        <li>PORT</li>
                        <li>MONGO_URL</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            <div><h3>Contact Me</h3></div>
            <div id="icon-link-box">
                <div class="link-class"><a href="https://www.linkedin.com/in/kishan-vishwakarma-36011025b "><i class="ri-linkedin-fill"></i> LinkedIn</a></div>
                <div class="link-class"><a href="https://github.com/kishanvish1613/"><i class="ri-github-line"></i> Github</a></div>
                <div class="link-class"><a href="https://kishan-dev.onrender.com/"><i class="ri-quill-pen-line"></i>Portfolio</a></div>
            </div>
        </div>
    </div>
</body>
</html>
